<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clockmate Einstellungen</title>
</head>
<body>
    <h1>My Buttons</h1>
    <%- include('button', { text: 'Button 1' }) %>
    <%- include('button', { text: 'Button 2' }) %>
</body>
</html>