<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="settings.css" />
        <title>Clockmate Einstellungen</title>
    </head>
    <body
        class="bg-gray-200 text-black scheme-light dark:bg-black dark:text-white dark:scheme-dark"
    >
        <%- include('snippets/header-bar') %> <%- include('snippets/content') %>
        <script src="settings.js"></script>
    </body>
</html>
