<h2 class="my-4 p-2 text-2xl">Berechnung</h2>
<div class="ms-5">
    <!-- prettier-ignore -->
    <%- include('../elements/checkbox-wrapper', { id: 'round-5-min', label: 'Auf 5 min runden',
        description: 'Das Gleitzeitkonto wird auf 5 min gerundet angezeigt',
        checked: false }) %>
    <div class="m-2"></div>
    <!-- prettier-ignore -->
    <%- include('../elements/checkbox-wrapper', { id: 'half-public-holidays', label: 'Halbe Feiertage berücksichtigen',
        description: 'Bei der Berechnung werden die ausgewählten Tage als halbe Feitertage gerechnet. Bei 8 Std. pro Tag somit 4 Std. Feiertag.',
        checked: true }) %>
    <div class="ms-5 mt-2">
        <%- include('../elements/checkbox-wrapper', { id: 'half-public-holiday-24-dec', label:
        '24.12', description: '', checked: true}) %>
        <div class="m-1"></div>
        <%- include('../elements/checkbox-wrapper', { id: 'half-public-holiday-31-dec', label:
        '31.12', description: '', checked: true}) %>
    </div>
    <form>
        <div class="relative mt-5 mb-1">
            <label
                for="months-to-calc-manually"
                class="dark:bg-clockmate-grey absolute -top-2 left-2 inline-block rounded-lg bg-white px-1 text-sm font-medium"
                >Nur genehmigte Zeiten vor X Monaten</label
            >
            <input
                type="number"
                name="months-to-calc-manually"
                id="months-to-calc-manually"
                aria-label="Nur genehmigte Zeiten vor X Monaten"
                placeholder="3"
                value="3"
                min="1"
                max="24"
                class="focus:outline-clockmate-blue block min-w-72 rounded-md px-3 py-2 text-sm outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 sm:text-sm/6 sm:w-1/2"
            />
        </div>
        <p class="text-sm/6 text-gray-700 dark:text-gray-400">
            Zeiten, die noch nicht genehmigt sind, werden im Zeitnachweis
            <i>(Fiori&#x1F826;Meine Formulare&#x1F826;Zeitnachweise)</i>
            nicht richtig angegeben. Es wird daher der Zeitnachweis von vor
            <bold class="font-bold"><span id="monthsback-text-num">3</span> Monaten</bold> genutzt
            und die anderen Monate von Clockmate berechnet.
        </p>
    </form>
</div>
