<div
    class="dark:bg-clockmate-grey container mx-auto flex max-w-3xl flex-1 flex-col content-center bg-white p-1 align-middle text-black sm:p-2 dark:text-white"
>
    <%- include('settings-calculation') %>
    <div class="border-clockmate-blue my-4 border-b-3"></div>
    <%- include('settings-display') %>
    <div class="border-clockmate-blue my-4 border-b-3"></div>
    <%- include('settings-notifications') %>
</div>
