<div class="border-clockmate-blue flex w-full items-center justify-between border-b-6">
    <a href="https://github.com/clock-mate" referrerpolicy="no-referrer" target="_blank">
        <img src="/assets/clockmate-icon256.png" width="50" class="m-3 hidden sm:block" />
    </a>
    <h1 class="p-4 text-center text-3xl font-bold">Clockmate - Einstellungen</h1>
    <a href="https://github.com/clock-mate/extension" referrerpolicy="no-referrer" target="_blank">
        <img
            src="/assets/settings/github-invertocat-light.svg"
            width="50"
            class="m-3 hidden sm:block dark:hidden"
        />
        <img
            src="/assets/settings/github-invertocat-dark.svg"
            width="50"
            class="m-3 hidden sm:dark:block"
        />
    </a>
</div>
