<h2 class="my-4 p-2 text-2xl">Berechnung</h2>
<!-- prettier-ignore -->
<%- include('checkbox', { id: 'round-5-min', label: 'Auf 5 min runden',
    description: 'Das Gleitzeitkonto wird auf 5 min gerundet angezeigt' }) %>
