<div
    class="dark:bg-clockmate-grey container mx-auto flex max-w-3xl flex-col content-center bg-white p-1 align-middle text-black sm:p-2 dark:text-white"
>
    <h1 class="text-center">My Buttons</h1>
    <%- include('button', { text: 'Button 1' }) %> <%- include('button', { text: 'Button 2' }) %>
</div>
