<div
    class="dark:bg-clockmate-grey container mx-auto flex max-w-3xl flex-col content-center bg-white p-1 align-middle text-black sm:p-2 dark:text-white"
>
    <%- include('calculation-settings.ejs') %>
    <div class="border-clockmate-blue my-4 border-b-3"></div>
    <%- include('display-settings.ejs') %>
</div>
